{%extends 'web/dra-base-dashboard.html.j2'%}
{% block title %} Accounts Opened | Blinkx{% endblock %}
{%block custom_css%}
<style>
    h5#leadModalLabel {
        font-size: 20px;
        font-weight: 500;
        color: #1f1f1f;
    }

    #leadModal .close {
        top: 50px;
        right: 35px;
        background: #fff3ee;
        font-size: 1.5rem;
        padding: 6px 12px;
    }

    #leadModal .modal-body {
        padding: 0rem 1.6rem;
    }

    #leadModal .modal-header {
        padding: 1rem 1.6rem;
        padding-top: 2rem;
    }

    .filter-icon {
        position: relative;
    }

    .filter-icon::before {
        content: '\f0b0';
        position: absolute;
        left: 0;
        top: 0;
        font-weight: 900;
        z-index: 1000;
        height: 100px;
        width: 100px;
        font-size: 16px;
    }

    .black-dot {
        background: #010101;
        height: 10px;
        width: 10px;
    }

    .bg-beige {
        background: #565656;
        color: #f7f7f7;
    }

    .info-bottom path {
        fill: #010101;
    }

    .text-black {
        color: #010101;
    }
</style>
{%endblock%}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
    integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Content Wrapper -->
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top py-5  justify-content-between">

            <!-- Sidebar Toggle (Topbar) -->
<!-- deleted -->

            <!-- Topbar Search -->
            <div class="top-heading">
                <p class="h3 font-weight-600">Accounts Opened</p>

            </div>
            {%include 'web/dashboard/_partials/dra/header.html.j2'%}

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">



            <div class="row">
                <div class="col-12 col-xl-12 col-lg-12">
                    <div class="d-md-flex justify-content-end">
                        <div data-search-activated class="search-form mb-md-0 mb-3 mr-md-3">
                                <div class="input-group">
                                    <div class="form-outline w-xs-85">
                                        <input type="search" placeholder="Search..." class="form-control search-input" />
                                    </div>
                                    <button type="submit" class="btn gradient-btn w-auto px-3">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                        </div>
                        <div class="search-form mr-md-3"><i class='fa fa-calendar calander-icon' aria-hidden='true'></i> <input class="custom_date search-input form-control px-1 bg-white" type="text" placeholder="Custom Date Select.." data-id="confirmDate" readonly="readonly"></div>
                        <select class="w-auto custom-select days-select mb-2 mb-md-0" name="" id="">
                            <option selected disabled
                                data-display="<i class='fa fa-filter' aria-hidden='true'></i> Filter">
                                Filter
                            </option>
                            <option value="30">Last 30 days</option>
                            <option value="60">Last 60 days</option>
                            <option value="90">Last 90 days</option>

                        </select>
                    </div>
                    <div class="bg-light px-3 py-2 mb-2 rounded d-md-none d-flex align-items-center justify-content-between w-100 ">
                        <p class="mb-0"> Swipe to scroll horizontally</p>
                        <img  src="{{static('dashboard/img/swipe.png')}}" width="40" class="img-fluid swipe-icon" alt="swipe">
                    </div>
                    <!-- DataTales Example -->
                    <div class="card border-0 mb-4 mt-4">

                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table" id="dataTable" width="100%" cellspacing="0">
                                    <thead class="bg-beige">
                                        <tr>
                                            <th>Sr No.</th>
                                            <th>Name</th>
                                            <th>Email Id</th>
                                            <th>Mobile No.</th>
                                            <th>Channel</th>
                                            <th class="text-center">Trade active</th>
                                        </tr>
                                    </thead>
                                    <tbody data-activated-list>

                                    </tbody>

                                </table>
                                <div data-empty-category="" style="display: none;" class="card w-100 mt-4">
                                    <p class="h6 text-center py-5">No Data Available</p>
                                </div>


                            </div>

                        </div>
                        <!-- loader here  -->
                        <div class="loader-wrapper card-loader">
                            <div class="loader"></div>
                        </div>
                        <!-- ends here  -->
                    </div>

                    <div class="bg-light px-3 py-2 mb-2 rounded d-md-none d-flex align-items-center justify-content-between">
                        <p class="mb-0"> Swipe to scroll horizontally</p>
                        <img src="{{static('dashboard/img/swipe.png')}}" width="40" class="img-fluid swipe-icon" alt="swipe">
                    </div>
                </div>
                <div class="bottom-note px-3 w-100">

                    <div class="d-flex flex-column justify-content-end mb-3 align-items-start bg-beige pl-2 py-2" style="
                    border-radius: 12px;">

                        <div class=" d-flex mb-1">
                            <div class="green-dot mt-1 mr-2">
                            </div>
                            <span class="mr-2 w-100">
                                <b>Trade active</b> : Customers who have
                                traded within 30 days of account
                                opening.
                            </span>
                        </div>
                        <div class="d-flex">
                            <div class="red-dot mt-1 mr-2">
                            </div>
                            <span class="mr-2 w-100">
                                <b>Not active</b> : Customers who have Not
                                traded within 30 days of account
                                opening
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <p id="pagination-here" class="d-flex justify-content-center"></p>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <!-- <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer> -->
    <!-- End of Footer -->


</div>
<!-- End of Content Wrapper -->

{% endblock %}
{% block extra_footer_script %}
<script src="https://cdn.rawgit.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"></script>
<script src="{{static('dashboard/js/integration/activated.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"
    integrity="sha512-NqYds8su6jivy1/WLoW8x1tZMRD7/1ZfhWG/jcRQLOzV1k1rIODCpMgoBnar5QXshKJGV7vi0LXLNXPoFsM5Zg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
$("[data-search-activated] button").on("click", function (e) {
            var searchVal = $('.search-input').val();
            console.log(searchVal)
            window.location = '/dra-activated/?name='+searchVal;
        });

    //  $('.days-select').niceSelect();
    $('.custom-select').niceSelect();
   // $('.download-select').niceSelect();
</script>
{% endblock %}